body {
	color: red;
	text-align: center;
}

h1 {
	font-size: 72px;
	font-family: 'Comic Sans MS';
}

.noot {
	height: 300px;
	border: 2px solid red;
	border-radius: 50% 20% / 10% 40%;
	justify-content: center;
}

h1.noot-text {
	font-size: 36px;
	color: green;
}

@keyframes fire {
	0% {color: red; transform: translate(100px, 0px);}
	50% {color: yellow; transform: translate(0px, 0px);}
	100% {color: red; transform: translate(100px, 0px);}
}

h1.noot-text#last {
	color: purple;
	animation: fire 4s ease infinite;
}